In [2]:
#import the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#read the file
table = pd.read_csv('PL2022-2023.csv')
table.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [5]:
#select the columns
my_table = table[['Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR']].copy()

In [6]:
#obtain the full time stats
my_table['FTTG'] = my_table['FTHG'] + my_table['FTAG']
my_table['HTTG'] = my_table['HTHG'] + my_table['HTAG']
my_table

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,FTTG,HTTG
0,05/08/2022,Crystal Palace,Arsenal,0,2,A,0,1,A,2,1
1,06/08/2022,Fulham,Liverpool,2,2,D,1,0,H,4,1
2,06/08/2022,Bournemouth,Aston Villa,2,0,H,1,0,H,2,1
3,06/08/2022,Leeds,Wolves,2,1,H,1,1,D,3,2
4,06/08/2022,Newcastle,Nott'm Forest,2,0,H,0,0,D,2,0
...,...,...,...,...,...,...,...,...,...,...,...
131,06/11/2022,Chelsea,Arsenal,0,1,A,0,0,D,1,0
132,06/11/2022,Aston Villa,Man United,3,1,H,2,1,H,4,3
133,06/11/2022,Southampton,Newcastle,1,4,A,0,1,A,5,1
134,06/11/2022,West Ham,Crystal Palace,1,2,A,1,1,D,3,2
135,06/11/2022,Tottenham,Liverpool,1,2,A,0,2,A,3,2

In [5]:
#create the over 1.5 & under 3.5 dataframe
over_table = my_table[my_table['FTTG'] >= 2]
under_table = my_table[my_table['FTTG'] < 4]

#goals away/home
# = my_table[my_table['FTHG']]

In [6]:
#calculate the number of matches played by the teams
a = my_table.HomeTeam.value_counts()
b = my_table.AwayTeam.value_counts()

In [7]:
#create a df to display the teams and total matches played
matches_played = pd.DataFrame([a, b]).T
matches_played['Total'] = matches_played['HomeTeam'] + matches_played['AwayTeam']

In [8]:
#obtain the count of the matches for each team they score over 1.5 goals
x = over_table['HomeTeam'].value_counts()
y = over_table['AwayTeam'].value_counts()

In [9]:
#create a data frame for the these teams
matches_over = pd.DataFrame([x, y]).T

In [10]:
#the count of matches for each team under 3.5 goals
x = under_table['HomeTeam'].value_counts()
y = under_table['AwayTeam'].value_counts()

In [11]:
#create a data frame for the these teams
matches_under = pd.DataFrame([x, y]).T

In [12]:
#create a totals table
matches_over['Total'] = matches_over['HomeTeam'] + matches_over['AwayTeam']
matches_under['Total'] = matches_under['HomeTeam'] + matches_under['AwayTeam']

In [13]:
#calculate the percentage of the matches over 1.5 goals to all matches played
matches_over['Percentage'] = (matches_over['Total'] / matches_played['Total']) * 100
matches_under['Percentage'] = (matches_under['Total'] / matches_played['Total']) * 100

In [14]:
#Home & Away percentage of over 1.5 goals
matches_over['HP'] = (matches_over['HomeTeam'] / matches_played['HomeTeam']) * 100
matches_over['AP'] = (matches_over['AwayTeam'] / matches_played['AwayTeam']) * 100

#Home & Away percentage of under 3.5 goals
matches_under['HP'] = (matches_under['HomeTeam'] / matches_played['HomeTeam']) * 100
matches_under['AP'] = (matches_under['AwayTeam'] / matches_played['AwayTeam']) * 100

In [15]:
#create a function to print the home and away percentages for the matches that have over 1.5 goals
def team_percentages_over(home_p, away_p):
    print('These are the away team percentages for over 1.5 goals: \n')  
    for team, percentage in away_p.items():
        print(f'{team} : {percentage:.1f}')

    print('\nThese are the home team percentages for over 1.5 goals: \n')
    for team, percentage in home_p.items():
        print(f'{team} : {percentage:.1f}')

away_p = matches_over.AP
away_p = away_p.to_dict()
home_p = matches_over.HP
home_p = home_p.to_dict()

team_percentages_over(home_p, away_p)

These are the away team percentages for over 1.5 goals:

West Ham : 28.6
Man City : 66.7
Crystal Palace : 66.7
Brentford : 85.7
Southampton : 42.9
Fulham : 85.7
Arsenal : 71.4
Tottenham : 85.7
Aston Villa : 85.7
Newcastle : 71.4
Leeds : 83.3
Chelsea : 71.4
Liverpool : 66.7
Nott'm Forest : 71.4
Man United : 71.4
Leicester : 100.0
Bournemouth : 100.0
Everton : 71.4
Wolves : 71.4
Brighton : 100.0

These are the home team percentages for over 1.5 goals:

West Ham : 100.0
Man City : 100.0
Crystal Palace : 85.7
Brentford : 85.7
Southampton : 85.7
Fulham : 85.7
Arsenal : 100.0
Tottenham : 85.7
Aston Villa : 71.4
Newcastle : 71.4
Leeds : 71.4
Chelsea : 83.3
Liverpool : 71.4
Nott'm Forest : 71.4
Man United : 66.7
Leicester : 57.1
Bournemouth : 57.1
Everton : 57.1
Wolves : 57.1
Brighton : 33.3

In [16]:
#create a function to print the home and away percentages for the matches that have under 3.5 goals
def team_percentages_under(home_p, away_p):
    print('These are the away team percentages for under 3.5 goals: \n')  
    for team, percentage in away_p.items():
        print(f'{team} : {percentage:.1f}')

    print('\nThese are the home team percentages for under 3.5 goals: \n')
    for team, percentage in home_p.items():
        print(f'{team} : {percentage:.1f}')

away_p = matches_under.AP
away_p = away_p.to_dict()
home_p = matches_under.HP
home_p = home_p.to_dict()

team_percentages_under(home_p, away_p)

These are the away team percentages for under 3.5 goals:

Everton : 100.0
Crystal Palace : 83.3
West Ham : 100.0
Bournemouth : 28.6
Southampton : 71.4
Leeds : 66.7
Chelsea : 85.7
Man United : 57.1
Aston Villa : 71.4
Brentford : 28.6
Wolves : 100.0
Liverpool : 66.7
Tottenham : 57.1
Leicester : 42.9
Nott'm Forest : 57.1
Brighton : 57.1
Newcastle : 71.4
Fulham : 57.1
Arsenal : 85.7
Man City : 83.3

These are the home team percentages for under 3.5 goals:

Everton : 100.0
Crystal Palace : 85.7
West Ham : 85.7
Bournemouth : 85.7
Southampton : 71.4
Leeds : 71.4
Chelsea : 83.3
Man United : 83.3
Aston Villa : 71.4
Brentford : 71.4
Wolves : 71.4
Liverpool : 71.4
Tottenham : 71.4
Leicester : 71.4
Nott'm Forest : 57.1
Brighton : 66.7
Newcastle : 57.1
Fulham : 42.9
Arsenal : 33.3
Man City : 14.3

In [17]:
#display the overall dataframes
print('These is a table of the teams with over 1.5 goals: ')
print(matches_over)
print('\nThese is a table of the teams with under 3.5 goals: ')
print(matches_under)

These is a table of the teams with over 1.5 goals:
                HomeTeam  AwayTeam  Total  Percentage          HP          AP
West Ham               7         2      9   64.285714  100.000000   28.571429
Man City               7         4     11   84.615385  100.000000   66.666667
Crystal Palace         6         4     10   76.923077   85.714286   66.666667
Brentford              6         6     12   85.714286   85.714286   85.714286
Southampton            6         3      9   64.285714   85.714286   42.857143
Fulham                 6         6     12   85.714286   85.714286   85.714286
Arsenal                6         5     11   84.615385  100.000000   71.428571
Tottenham              6         6     12   85.714286   85.714286   85.714286
Aston Villa            5         6     11   78.571429   71.428571   85.714286
Newcastle              5         5     10   71.428571   71.428571   71.428571
Leeds                  5         5     10   76.923077   71.428571   83.333333
Chelsea                5         5     10   76.923077   83.333333   71.428571
Liverpool              5         4      9   69.230769   71.428571   66.666667
Nott'm Forest          5         5     10   71.428571   71.428571   71.428571
Man United             4         5      9   69.230769   66.666667   71.428571
Leicester              4         7     11   78.571429   57.142857  100.000000
Bournemouth            4         7     11   78.571429   57.142857  100.000000
Everton                4         5      9   64.285714   57.142857   71.428571
Wolves                 4         5      9   64.285714   57.142857   71.428571
Brighton               2         7      9   69.230769   33.333333  100.000000

These is a table of the teams with under 3.5 goals:
                HomeTeam  AwayTeam  Total  Percentage          HP          AP
Everton                7         7     14  100.000000  100.000000  100.000000
Crystal Palace         6         5     11   84.615385   85.714286   83.333333
West Ham               6         7     13   92.857143   85.714286  100.000000
Bournemouth            6         2      8   57.142857   85.714286   28.571429
Southampton            5         5     10   71.428571   71.428571   71.428571
Leeds                  5         4      9   69.230769   71.428571   66.666667
Chelsea                5         6     11   84.615385   83.333333   85.714286
Man United             5         4      9   69.230769   83.333333   57.142857
Aston Villa            5         5     10   71.428571   71.428571   71.428571
Brentford              5         2      7   50.000000   71.428571   28.571429
Wolves                 5         7     12   85.714286   71.428571  100.000000
Liverpool              5         4      9   69.230769   71.428571   66.666667
Tottenham              5         4      9   64.285714   71.428571   57.142857
Leicester              5         3      8   57.142857   71.428571   42.857143
Nott'm Forest          4         4      8   57.142857   57.142857   57.142857
Brighton               4         4      8   61.538462   66.666667   57.142857
Newcastle              4         5      9   64.285714   57.142857   71.428571
Fulham                 3         4      7   50.000000   42.857143   57.142857
Arsenal                2         6      8   61.538462   33.333333   85.714286
Man City               1         5      6   46.153846   14.285714   83.333333